[submodule "openvino"]
	path = openvino
	url = https://github.com/Kizna1ver/openvino.git
	branch = feature/CAPI-VA-Remoteblob
[submodule "FFmpeg"]
	path = FFmpeg
	url = https://github.com/Kizna1ver/FFmpeg.git
	branch = feature/dnn-ov-full-gpu-detect
[submodule "libva"]
	path = libva
	url = https://github.com/intel/libva.git
	branch = v2.13-branch
